.u-section-1 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("images/4.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 450px;
}

.u-section-1 .u-text-1 {
  font-size: 5rem;
  margin: 60px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 371px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 284px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 213px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 134px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}
.u-section-2 {
  background-image: none;
  min-height: 1401px;
}

.u-section-2 .u-shape-1 {
  height: 718px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2 .u-text-1 {
  margin: -635px auto 0 calc(((100% - 1140px) / 2) + 402px);
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  width: 889px;
  margin: 30px calc(((100% - 1140px) / 2) + 125px) 0
    calc(((100% - 1140px) / 2) + 126px);
}

.u-section-2 .u-list-1 {
  width: 1140px;
  margin: 30px auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 1118px;
  grid-gap: 20px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  filter: brightness(0.8);
  height: 231px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-3 {
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  margin: 30px auto 0 0;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  margin: 10px auto 0 0;
  padding: 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  filter: brightness(0.8);
  height: 231px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.375rem;
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  margin: 30px auto 0 0;
  padding: 0;
}

.u-section-2 .u-btn-4 {
  border-style: solid;
  margin: 10px auto 0 0;
  padding: 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  filter: brightness(0.8);
  height: 231px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.375rem;
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  margin: 30px auto 0 0;
  padding: 0;
}

.u-section-2 .u-btn-6 {
  border-style: solid;
  margin: 10px auto 0 0;
  padding: 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  filter: brightness(0.8);
  height: 231px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-9 {
  font-size: 1.375rem;
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-7 {
  background-image: none;
  margin: 30px auto 0 0;
  padding: 0;
}

.u-section-2 .u-btn-8 {
  border-style: solid;
  margin: 10px auto 0 0;
  padding: 0;
}

.u-section-2 .u-list-item-5 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-image-5 {
  filter: brightness(0.8);
  height: 231px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-11 {
  font-size: 1.375rem;
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-9 {
  background-image: none;
  margin: 30px auto 0 0;
  padding: 0;
}

.u-section-2 .u-btn-10 {
  border-style: solid;
  margin: 10px auto 0 0;
  padding: 0;
}

.u-section-2 .u-list-item-6 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-image-6 {
  filter: brightness(0.8);
  height: 231px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-13 {
  font-size: 1.375rem;
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-14 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-11 {
  background-image: none;
  margin: 30px auto 0 0;
  padding: 0;
}

.u-section-2 .u-btn-12 {
  border-style: solid;
  margin: 10px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin-top: -566px;
    margin-left: calc(((100% - 940px) / 2) + 331px);
  }

  .u-section-2 .u-text-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin-right: calc(((100% - 940px) / 2) + 25px);
    margin-left: calc(((100% - 940px) / 2) + 26px);
  }

  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 918px;
  }

  .u-section-2 .u-list-item-1 {
    --radius: 30px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-image-1 {
    --radius: 20px;
    height: 183px;
  }

  .u-section-2 .u-list-item-2 {
    --radius: 30px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-image-2 {
    --radius: 20px;
    height: 183px;
  }

  .u-section-2 .u-list-item-3 {
    --radius: 30px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-image-3 {
    --radius: 20px;
    height: 183px;
  }

  .u-section-2 .u-list-item-4 {
    --radius: 30px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-image-4 {
    --radius: 20px;
    height: 183px;
  }

  .u-section-2 .u-list-item-5 {
    --radius: 30px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-image-5 {
    --radius: 20px;
    height: 183px;
  }

  .u-section-2 .u-list-item-6 {
    --radius: 30px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-image-6 {
    --radius: 20px;
    height: 183px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 1953px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -635px;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.99997px));
    min-height: 1612px;
  }

  .u-section-2 .u-image-1 {
    height: 217px;
  }

  .u-section-2 .u-image-2 {
    height: 217px;
  }

  .u-section-2 .u-image-3 {
    height: 217px;
  }

  .u-section-2 .u-image-4 {
    height: 217px;
  }

  .u-section-2 .u-image-5 {
    height: 217px;
  }

  .u-section-2 .u-image-6 {
    height: 217px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 4495px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-image-1 {
    height: 376px;
  }

  .u-section-2 .u-image-2 {
    height: 376px;
  }

  .u-section-2 .u-image-3 {
    height: 376px;
  }

  .u-section-2 .u-image-4 {
    height: 376px;
  }

  .u-section-2 .u-image-5 {
    height: 376px;
  }

  .u-section-2 .u-image-6 {
    height: 376px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 3676px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    height: 231px;
  }

  .u-section-2 .u-image-2 {
    height: 231px;
  }

  .u-section-2 .u-image-3 {
    height: 231px;
  }

  .u-section-2 .u-image-4 {
    height: 231px;
  }

  .u-section-2 .u-image-5 {
    height: 231px;
  }

  .u-section-2 .u-image-6 {
    height: 231px;
  }
}